<h6>
  {{displayName}} <a href="{{uri}}"> Buy Tickets</a>
</h6>
{{tracks}}

{{#each performance}}
  <button id="{{displayName}}" data-name="{{displayName}}">Discover {{displayName}}<br> the {{billing}}</button>
{{/each}}
