<ul>
  <li>
    {{name}}
    <a href={{uri}}>buy tix</a>
  </li>
  <li>
    {{#each artists}}
    {{name}}
    <form class='artist'>
      <input class='artistName' type=hidden value={{name}}>
      <input type=submit value="Get Tracks">
    </form>
    {{billing}}
    {{/each}}
  </li>
</ul>
