<ul class='venueEvents'>
  {{#each events}}
  <li>
    {{displayName}}
    <a href={{uri}}>buy tix</a>
  </li>
  <li>
    {{#each performance}}
    Performer: {{displayName}}
    Billing: {{billing}}
    <button data-name="{{displayName}}">Discover {{displayName}}</button>
    {{/each}}
  </li>
  {{/each}}
</ul>
