<!DOCTYPE html>
<html>
<head>
  <title>D2jive</title>
  <script type="text/javascript" src="swfobject.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <! Need the yield below for the terms of use and about us pages ->
  <%= yield %>
<div class='searchContainer small-12 columns'></div>
<div class='resultsContainer small-12 columns'></div>
<div class='eventContainer row'></div>

  <%= render "layouts/footer" %>

</body>
</html>
